{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- css stylesheet -->
  <link rel="stylesheet" href="{% static 'mycss/styles.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">

  <!-- bootstrap Scripts -->
  <script src="{% static 'https://code.jquery.com/jquery-3.5.1.slim.min.js' %}" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="{% static 'https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="{% static 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' %}" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <!-- Font styles:- -->
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap' %}" rel="stylesheet">
  <link href="{% static 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap' %}" rel="stylesheet">

  <!--fontawesome -->
  <script src="{% static 'https://use.fontawesome.com/1fded5d95a.js' %}"></script>


  <title>Start buying</title>


  <style>
    #title {
      background-color: #ff4c68;
      color: #fff;
    }

    .container {}

    body {
      font-family: "Montserrat";
      background-color: grey;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-style: "Montserrat-Black";
    }

    h3 {
      font-size: 1.5rem;
    }




    /* Navbar */

    .navbar {
      padding-bottom: 4.5rem;
      padding-left: 0px;
    }

    .navbar-brand {
      font-family: "Ubuntu";
      font-weight: bold;
    }

    .nav-item {
      padding: 0 18px;
    }

    .nav-link {
      font-family: "Montserrat-light";
      font-size: 1.2rem;
    }
  </style>

</head>

<body style="background-color: #f0f8ff;">


  <section id="title" class="mx-auto mb-4" style="">
    <nav class="navbar navbar-expand-lg navbar-light-lg navbar-dark" style="padding: 0 0 2.5rem;">
      <a class="navbar-brand" style="font-size: 2.5rem;" href="/">Pawsome</a>

      <div id="top-section">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <ul class="navbar-nav ml-auto" style="margin-top: 30px;">
            <li class="nav-item" style="margin-left: 50px;">
              <a class="nav-link active" href="/contact">contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/buy12">Buy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/faq">FAQ</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" href="/DayCare">Daycare</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/Caretaker">Caretaker</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/vet">Ask a veterinary</a>
            </li>
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            <li><a class="nav-link active"> Hello, {{user.first_name}}</a></li>
            <li><a class="nav-link active" href="accounts/logout">Logout</a></li>
            {% else %}
            <li><a class="nav-link active" href="accounts/signup">Register</a></li>
            <li><a class="nav-link active" href="accounts/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </section>



  <div class="row">
    <div class="col-lg-6 caretaker" style="text-align: center;">
      <h1>Buy a Pet</h1>
      <button type="button" class="btn btn-lg btn-block btn-outline-dark" onclick="document.location='PetList'"><i class="fas fa-paw"></i> Pet</button>

    </div>
    <div class="col-lg-6 customer" style="text-align: center;">
      <h1> Buy a Pet Product</h1>
      <button type="button" class="btn btn-lg btn-block btn-outline-dark" onclick="document.location='PetProductList'"><i class="fas fa-mouse-pointer"></i> Pet Products</button>

    </div>

  </div>



</body>

</html>
