{% load static %}
{% static "images" as baseUrl %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Caretaker Signup</title>

  <link rel="canonical" href="{% static 'https://getbootstrap.com/docs/5.0/examples/sign-in/' %}">



  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link href="{% static '../assets/dist/css/bootstrap.min.css" rel="stylesheet' %}">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->



</head>

<body class="text-center" style="background-color: #ffe6e6;">

  <main class="form-signup" style="text-align: center;">
    <form action="caretakersignup" method="post">
      {% csrf_token %}
      <i class="fas fa-sign-in-alt"></i>
      <h1 class="h3 mb-3 fw-normal">Please sign up</h1>
      <br>
      <label for="name"><b>Full Name</b></label>
      <input type="text" class="text-line" placeholder="Enter Your Full Name" name="name" required>
      <br>
      <br>
      <label for="password1"><b>Password</b></label>
      <input type="password" class="text-line" placeholder="Enter your Password" name="password1" required>
      <br>
      <br>
      <label for="password2"><b>Re Enter Password</b></label>
      <input type="password" class="text-line" placeholder="Re enter your Password" name="password2" required>
      <br>
      <br>
      <label for="username"><b>Username</b></label>
      <input type="text" class="text-line" placeholder="Enter Your username" name="username" required>
      <br>
      <br>
      <label for="email"><b>Email</b></label>
      <input type="email" class="text-line" placeholder="Enter Your Email" name="email" required>
      <br>
      <br>
      <label for="img"><b>Enter Your Image</b></label>
      <input type="file" id="img" name="img" accept="image/*" required>
      <br>
      <br>
      <label for="address"><b>Address</b></label>
      <input type="text" class="text-line" placeholder="Enter Your address" name="adds" required>
      <br>
      <br>
      <label for="location"><b>Location</b></label>
      <input type="text" class="text-line" placeholder="Enter Your location" name="location" required>
      <br>
      <br>
      <label for="rate"><b>Rate</b></label>
      <input type="text" class="text-line" placeholder="Enter Your Rate" name="rate" required>
      <br>
      <br>
      <label for="rate"><b>experience</b></label>
      <input type="text" class="text-line" placeholder="Enter Your experience" name="experience" required>
      <br>
      <br>
      <label for="phone">Enter your phone number:</label>
      <input type="tel" id="phone" name="contact" required>
      <br>
      <br>
      {% comment %} <button type="submit" class="registerbtn btn btn-lg btn-success sign-in-btn" name="submit" value="submit">Register</button> {% endcomment %}
      <a href="cportal/{{Caretaker.id}}"><button type="submit" class="registerbtn btn btn-lg btn-success sign-in-btn" name="submit" value="submit">Register</button></a>
      <p>Already have an account? <a href="caretakerlogin">Sign In</a></p>
      </div>
      <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
      </div>
      <p class="mt-5 mb-3 text-muted copyright">&copy; 2021-2022</p>
    </form>
  </main>



</body>

</html>
